@model IEnumerable<Core21824.Models.tbluser>

@{
    ViewData["Title"] = "ShowEmployee";
}

<h1>ShowEmployee</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.uid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.uid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.age)
                </td>
                <td>
                    <a asp-action="AddEmployee" asp-route-id="@item.uid">Edit</a> |
                    <a asp-action="DeleteEmployee" asp-route-id="@item.uid" onclick="return ConfirmDelete();">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function ConfirmDelete() {
        return confirm("Are you sure you want to delete?");
    }
</script>
